main{
    height: 100%;
    width: 100%;
    display: flex;
}

.friday-att{
    width: 40%;
    height: 800px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    left: 10px;
    opacity: 0.5;
    display: none;
    transition: 0.5s all ;
    animation: tts 2s alternate;
}
.friday-att:hover{
    opacity: 1;

}

.d_button{
    background-color: white;
    font-size: 20px;
    position: relative;
    width: 38%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;

}

@keyframes tts {
    0%{
        opacity: 0;
        height: 0px;
    }
    100%{
        top: auto;
        height: 800px;
    }

}

.testing{
    width: 40%;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    display: grid;
    align-items: center;
    justify-content: baseline;
    transition: 0.5s all;
    opacity: 1;
}
.testing:hover{
    opacity: 1;
    width: 58%;
}


.friday-att div:nth-child(1){
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.275);
    width: 92%;
    background-color: white;
    height: 178px;
    position: relative;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s all;
}
.friday-att div:nth-child(2){
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.275);
    width: 92%;
    background-color: white;
    height: 178px;
    position: relative;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s all;
}
.friday-att div:nth-child(3){
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.275);
    width: 92%;
    background-color: white;
    height: 178px;
    position: relative;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s all;
}
.friday-att div:nth-child(1):hover{
    border: solid black 2px;
}
.friday-att div:nth-child(2):hover{
    border: solid black 2px;
}
.friday-att div:nth-child(3):hover{
    border: solid black 2px;
}

.friday-att img{
    position: relative;
    width:30%;
    border-radius: 20px 0 0 20px;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.logo-d{
    background-image: url(images/download.jpg);
}
.logo-e{
    background-image: url(images/Data-science-o-que-e-02-1.webp);
}
.logo-x{
    background-image: url(images/background.webp);
}

.texts{
    border-radius: 10px;
    margin: 5px;
    width: 67%;
    height: 95%;
    background-color: transparent;
    position: absolute;
    padding: 0;
}
.texts h1{
    padding: 5px;
    border-left: solid rgba(0, 0, 0, 0.657) 2px;
    margin: 0;
    border-bottom: solid rgba(0, 0, 0, 0.172) 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 0;
    left: 5px;
    position: relative;
    font-size: 20px;
    text-align: left;
}
.texts p{
    margin: 0;
    padding: 5px;

}



.show-notf{
    position: relative;
}
.show-notf button{
    background-color: white;
    font-size: 20px;
    position: relative;
    width: 38%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;

}

.material-symbols-outlined{
    background-color: rgb(236, 236, 236);
    width: 50px;
    border-radius: 10%;
    height: 50px;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}